*{
    margin: 0;
    padding: 0;
}
/* @import url('http://fonts.cdnfonts.com/css/lcd');
@import url('http://fonts.cdnfonts.com/css/tbs'); 
@import url('http://fonts.cdnfonts.com/css/mismo'); */
@font-face {
    font-family: 'TBS';
    font-style: normal;
    font-weight: 700;
    src: local('TBS'), url('https://fonts.cdnfonts.com/s/79048/some_people_consider_me_to_be_veryfunny__by_629lyricd9fvs17_0.woff') format('woff');
}



@font-face {
    font-family: 'LCD';
    font-style: normal;
    font-weight: 400;
    src: local('LCD'), url('https://fonts.cdnfonts.com/s/71639/LCD-N___.woff') format('woff');
}
@font-face {
    font-family: 'LCD';
    font-style: normal;
    font-weight: 400;
    src: local('LCD'), url('https://fonts.cdnfonts.com/s/71639/LCD-U___.woff') format('woff');
}
@font-face {
    font-family: 'LCD';
    font-style: normal;
    font-weight: 300;
    src: local('LCD'), url('https://fonts.cdnfonts.com/s/71639/LCD-L___.woff') format('woff');
}
@font-face {
    font-family: 'LCD';
    font-style: normal;
    font-weight: 700;
    src: local('LCD'), url('https://fonts.cdnfonts.com/s/71639/LCD-BOLD.woff') format('woff');
}
@font-face {
    font-family: 'LCD2';
    font-style: normal;
    font-weight: 400;
    src: local('LCD2'), url('https://fonts.cdnfonts.com/s/71639/LCD2N___.woff') format('woff');
}
@font-face {
    font-family: 'LCDMono2';
    font-style: normal;
    font-weight: 400;
    src: local('LCDMono2'), url('https://fonts.cdnfonts.com/s/71639/LCDM2N__.woff') format('woff');
}
@font-face {
    font-family: 'LCDMono';
    font-style: normal;
    font-weight: 400;
    src: local('LCDMono'), url('https://fonts.cdnfonts.com/s/71639/LCDMN___.woff') format('woff');
}
@font-face {
    font-family: 'Digitalism';
    font-style: normal;
    font-weight: 400;
    src: local('Digitalism'), url('https://fonts.cdnfonts.com/s/71639/digitalism.woff') format('woff');
}
@font-face {
    font-family: 'LCD2';
    font-style: normal;
    font-weight: 400;
    src: local('LCD2'), url('https://fonts.cdnfonts.com/s/71639/LCD2U___.woff') format('woff');
}
@font-face {
    font-family: 'LCDMono2';
    font-style: normal;
    font-weight: 400;
    src: local('LCDMono2'), url('https://fonts.cdnfonts.com/s/71639/LCDM2U__.woff') format('woff');
}
@font-face {
    font-family: 'LCDMono';
    font-style: normal;
    font-weight: 400;
    src: local('LCDMono'), url('https://fonts.cdnfonts.com/s/71639/LCDMU___.woff') format('woff');
}
@font-face {
    font-family: 'LCD2';
    font-style: normal;
    font-weight: 300;
    src: local('LCD2'), url('https://fonts.cdnfonts.com/s/71639/LCD2L___.woff') format('woff');
}
@font-face {
    font-family: 'LCDMono2';
    font-style: normal;
    font-weight: 300;
    src: local('LCDMono2'), url('https://fonts.cdnfonts.com/s/71639/LCDM2L__.woff') format('woff');
}
@font-face {
    font-family: 'LCDMono';
    font-style: normal;
    font-weight: 300;
    src: local('LCDMono'), url('https://fonts.cdnfonts.com/s/71639/LCDML___.woff') format('woff');
}
@font-face {
    font-family: 'LCD2';
    font-style: normal;
    font-weight: 700;
    src: local('LCD2'), url('https://fonts.cdnfonts.com/s/71639/LCD2B___.woff') format('woff');
}
@font-face {
    font-family: 'LCDMono2';
    font-style: normal;
    font-weight: 700;
    src: local('LCDMono2'), url('https://fonts.cdnfonts.com/s/71639/LCDM2B__.woff') format('woff');
}
@font-face {
    font-family: 'LCDMono';
    font-style: normal;
    font-weight: 700;
    src: local('LCDMono'), url('https://fonts.cdnfonts.com/s/71639/LCDMB___.woff') format('woff');
}


@font-face {
    font-family: 'Mismo';
    font-style: normal;
    font-weight: 500;
    src: local('Mismo'), url('https://fonts.cdnfonts.com/s/31853/Mismo Regular.woff') format('woff');
}
@font-face {
    font-family: 'Mismo';
    font-style: normal;
    font-weight: 600;
    src: local('Mismo'), url('https://fonts.cdnfonts.com/s/31853/Mismo Campus.woff') format('woff');
}
@font-face {
    font-family: 'Mismo';
    font-style: normal;
    font-weight: 700;
    src: local('Mismo'), url('https://fonts.cdnfonts.com/s/31853/Mismo Bold.woff') format('woff');
}
@font-face {
    font-family: 'Mismo';
    font-style: normal;
    font-weight: 900;
    src: local('Mismo'), url('https://fonts.cdnfonts.com/s/31853/Mismo Black.woff') format('woff');
}




body{
    background-color: rgb(52, 52, 52);
}
.jumbotron{
    background-color: rgb(0, 58, 58);
    background-blend-mode: soft-light;
    border: 10px solid #ffffff;
    box-shadow: 9px -9px 128px -1px #00bbda;
    width: 650px;
    height: 300px;
    margin: 140px auto;
    padding: 17px;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav{
    background: linear-gradient(180deg, rgb(0, 79, 80), rgb(14, 14, 14), rgb(0, 47, 48));
    position: sticky;
    height: 120px;  
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    box-shadow: 1px -8px 12px 10px rgb(0, 0, 0);
    border-radius: 0px 0 50% 50%;
    color: white;
    font-family: 'Mismo', sans-serif;    
    -webkit-text-fill-color: rgb(255, 255, 255);                                    
}
.time-display{
    font-size: 110px;
    margin: auto;
    text-shadow: 2px 1px 10px rgb(0, 255, 243);
    font-family: 'LCDMono2', sans-serif;
    border: 1px solid rgb(204, 255, 204);
    height: 170px;
    width: 600px;
    background-color: rgb(0, 24, 26, 0.80);
    border-radius: 30px;
}


.titlebar{
    font-weight: bolder;
}

.dayteller{
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    font-family: 'TBS', sans-serif;
    align-self: center;
    display: flex;                                               
}
#day{
    text-decoration: underline; 
}
hr{
    margin: 50px auto;
}

@media only screen and (min-width: 435px) and (max-width: 720px) and (min-height: 1400px) {
    body{
        height:inherit;
    }
    
    .time-display{
        font-size: 60px;
        margin: auto;
        height: 150px;
        width: 313px;
        padding-top: 27px;
    }
    .jumbotron{
        width: 406px;
        height: 286px;
        margin: 176px auto 0px auto;
    }
    nav{
        width: 100vw;
        font-size: 50px;
    }
}

@media only screen and (min-width: 721px) and (max-width: 1440px) {
    .time-display{
        font-size: 77px;
        margin: auto auto;
        height: 130px;
        width: 440px;
        padding: 8px;
        text-align: center;
    }
    .jumbotron{
        width: 500px;
        height: 310px;
        margin: 115px auto 0px;
    }
    nav{
        width: 100vw;
        font-size: 65px;
    }
}

@media only screen and (max-width: 435px) and (min-height: 453px){
    .time-display{
        font-size: 43px;
        margin: auto auto;
        height: 90px;
        width: 240px;
        padding: 12px;
        text-align: center;
    }
    .jumbotron{
        width: 300px;
        height: 210px;
        margin: 110px auto 0px;
    }
    nav{
        width: 100vw;
        font-size: 30px;
    }
    .dayteller{
        font-size: 20px;
    }
}